<%= stylesheet_link_tag "master.css" %>

<div class='app_container'>
  <div class='app'>
    <div class='title'><h1>Round Robin</h1></div>
  
    <%# Create a form for each user %>
    <%= form_tag 'update' do |f| %>
      <%# Iterate through array of users %>
      <% @users.each do |user| %>
        <div class='user'>
          <h3 class='user_name'><%= user.name %></h3><br>

          <div class='buttons'>
            <%# Active Status %>
            <div class='button button_left'>
              <%= radio_button_tag "#{user.id}_status", "active", (user.status == "active") %>
              <%= label_tag "#{user.id}_status_active", "Active"%>
            </div>

            <%# Late Status %>
            <div class='button button_center'>
              <%= radio_button_tag "#{user.id}_status", "late", (user.status == "late") %>
              <%= label_tag "#{user.id}_status_late", "Late"%>
            </div>

            <%# Off Status %>
            <div class='button button_right'>
              <%= radio_button_tag "#{user.id}_status", "off", (user.status == "off") %>
              <%= label_tag "#{user.id}_status_off", "Off"%>
            </div>
          </div>
      
        </div>
      <% end %>

      <div class='submit_container'>
        <%= submit_tag "Save Changes" %>
      </div>
    <% end %>
  </div>
</div>

<div></div>





